<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:google:rdbms://cloudsqldb:clouddb/movie</property>
<!--
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
-->
     <property name="hibernate.show_sql">true</property>
    <!-- this is for development only!!!! -->
    <property name="hibernate.hbm2ddl.auto">create</property>
    <property name="hibernate.generate_statistics">false</property>
    <property name="javax.persistence.validation.mode">none</property>
<!--    
    <property name="hibernate.search.default.directory_provider">filesystem</property>
-->
    <!-- Hibernate Search Configuration -->
    <!-- http://magnus-k-karlsson.blogspot.com/2009/02/hibernate-search-example.html -->
    <property name="hibernate.search.default.directory_provider">org.hibernate.search.store.impl.RAMDirectoryProvider</property>
    <property name="hibernate.search.default.indexBase">/indexes</property>
<!--    
-->

    <!-- Here you include the hibernate mappings -->
    <!-- PLEASE DO NOT REMOVE THE COMMENT BELOW -->
    <!-- generator:mappings -->
    <mapping resource="com/appspot/model/mapping/Movie.hbm.xml" />


  </session-factory>
</hibernate-configuration>
